<div class="chat-info-container">
  <div class="relative">
    <img class="chat-img" [ngClass]="{ 'new-msg': !isChatSeen(chat) }" src="{{ getChatImg() }}" alt="chat-img">
    <mat-icon class="mail-icon" *ngIf="!isChatSeen(chat)">mail</mat-icon>
  </div>
  <div class="chat-info">
    <div class="chat-name-container">
      <h3 class="chat-name">{{ getChatName() }}</h3>
      <p class="font-sm">{{ chat && currentDate <= getInMilli(chat.updatedAt) ? (chat.updatedAt | date:'hh:mm a') : (chat?.updatedAt | date:'dd MMM') }}</p>
    </div>
    <p class="chat-desc" *ngIf="chat?.latestMessage"><span class="mr-1 name-sm">{{ chat?.latestMessage?.sender?.name }}:</span>{{ chat?.latestMessage?.content }}</p>
  </div>
</div>