.chat-info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.chat-info {
  max-width: 25rem;
  width: 100%;
}

.chat-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 13rem;
}

.chat-desc {
  color: #FFFFFF;
  margin: 0;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-sm {
  font-size: 0.9rem;
  margin: 0;
}