.main-container {
  min-height: 100vh;
  background-color: #F0F8FF;
}

.sidenav-container {
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav {
  width: 25rem;
  border: none;
}

.fullscreen-nav{
  width: 100vw !important;
  height: 100vh !important;
}

.b-0 {
  border-radius: 0 !important;
}