<div class="main-container">
  <div class="top-header">
    <div class="head">
      <img class="logo" src="/assets/images/logo.png" alt="logo">
      <p class="web-name">WebChatter</p>
    </div>
    <div>
      <button class="menu-icon-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="menu-icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openProfileDialog(show_profile)">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="openDialog(create_group_chat)">
          <mat-icon>group</mat-icon>
          <span>Create Group</span>
        </button>
        <button mat-menu-item (click)="openDialog(search_user)">
          <mat-icon>search</mat-icon>
          <span>Search User</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <hr>

  <div class="chat-list">
    <app-chat-info class="chat-info" [chat]="chat" *ngFor="let chat of chats" (click)="selectChat(chat)" [ngClass]="{'bg-blue' : selectedChat?._id===chat._id}"></app-chat-info>
  </div>
</div>

<ng-template #search_user>
  <h2 mat-dialog-title>Search User</h2>
  <mat-dialog-content>
    <input class="input" type="text" placeholder="Search..." [(ngModel)]="searchKey" (input)="onSearchKeyChange()">
    <div class="userlist-container">
      <div *ngIf="searchResults && searchResults.length>0; else no_results">
        <div class="outer-div"  *ngFor="let user of searchResults" title="Click to start conversation" (click)="accessIndividualChat(user)">
          <img class="user-pic" src="{{ user?.profileImg }}">
          <div class="innner-div">
            <p class="user-name">{{ user?.name }}</p>
            <p class="user-email">{{ user?.email }}</p>
          </div>
        </div>
        <div class="load-more-btn-container" *ngIf="!noMoreResultsFound">
          <button class="load-more-btn" (click)="loadMoreSearchResults()">Load more</button>
        </div>
      </div>
      <ng-template #no_results>
        <p class="no-results">No results available.</p>
      </ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="close-btn" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #create_group_chat>
  <h2 mat-dialog-title>Create Group</h2>
  <mat-dialog-content>
    <div class="flex-column">
      <input class="input" type="text" placeholder="Group Name..." [(ngModel)]="newGroupName">
      <div>
        <hr>
        <h4 class="m-0">Selected Participants:</h4>
        <div class="outer-list">
          <div class="individual-user" *ngFor="let user of newGroupParticipants">
            <mat-icon class="delete-icon" (click)="removeNewGroupParticipants(user)">close</mat-icon>
            <img class="user-pic" src="{{ user?.profileImg }}">
            <span class="username">{{ user?.name }}</span>
          </div>
        </div>
        <p class="m-0 warn-text" *ngIf="newGroupParticipants && newGroupParticipants.length<2">Please select atleast 2 participants.</p>
      </div>
    </div>
    <div class="userlist-container-overflow">
      <hr>
      <h4>User List:</h4>
      <input class="input" type="text" placeholder="Search..." [(ngModel)]="searchKey" (input)="onSearchKeyChange()">
      <div *ngIf="searchResults && searchResults.length>0; else no_results">
        <div class="outer-div"  *ngFor="let user of searchResults" title="Click to add participants" (click)="addParticipantsInNewGroupChat(user)">
          <img class="user-pic" src="{{ user?.profileImg }}">
          <div class="innner-div">
            <p class="user-name">{{ user?.name }}</p>
            <p class="user-email">{{ user?.email }}</p>
          </div>
        </div>
      </div>
      <ng-template #no_results>
        <p class="no-results-available">No results available.</p>
      </ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="create-btn" mat-button (click)="createGroupChat()">Create</button>
    <button class="close-btn ml-1" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #show_profile>
  <h2 mat-dialog-title class="size-3">My Profile</h2>
  <mat-dialog-content>
    <div class="profile-head">
      <img class="profile-img" src="{{ user?.profileImg }}" alt="profile-img">
      <div class="profile-inner">
        <p class="profile-name ellipsis" *ngIf="!profileEdit">{{ user?.name }}</p>
        <input class="profile-input" *ngIf="profileEdit" [(ngModel)]="newName">
        <p class="profile-email ellipsis">{{ user?.email }}</p>
        <p class="profile-email ellipsis">Since {{ user?.createdAt | date:'dd-MMM-yyyy' }}</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="create-btn" mat-button *ngIf="!profileEdit" (click)="editProfile()">Edit</button>
    <button class="create-btn" mat-button *ngIf="profileEdit" (click)="updateProfile()">Update</button>
    <button class="close-btn ml-1" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>