<div class="main-container">
  <div>
    <div class="head-div">
      <button class="basic-icon-button back-button" type="button" mat-button (click)="toggleSideNav()"><mat-icon class="font-icon-md">arrow_back</mat-icon></button>
      <div class="outer-head">
        <div class="head">
          <img class="chat-img" src="/assets/images/chatBg.png" alt="chat-img">
          <p class="chat-name">Chat Name</p>
        </div>
        <div>
          <button class="basic-icon-button" title="add/remove participants"><mat-icon class="font-icon-md">add</mat-icon></button>
          <button class="basic-icon-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="font-icon-md">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="message-body">
    <div *ngIf="messages && messages.length>0; else no_message">

    </div>
    <ng-template #no_message>
      <p class="lg-text">Start the conversation...</p>
    </ng-template>
  </div>

  <div>
    <hr>
    <form class="bottom-div">
      <input class="msg-input" type="text" name="newMessage" id="newMessage" placeholder="Type your message...">
      <button class="basic-icon-button" type="submit"><mat-icon class="font-icon-md">send</mat-icon></button>
    </form>
  </div>
</div>