.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 95vh;
  background-color: #FFFFFF;
}

.head-div {
  display: flex;
}

.message-body {
  flex: 1;
  max-height: 75vh;
  overflow: auto;
  display: flex;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #b0b0b0;
  border-radius: 10rem;
}

hr {
  border: 1px solid #e3dddd;
}

.back-button {
  display: none;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chat-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 10rem;
}

.chat-name {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

.outer-head {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lg-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 3rem;
  color: #83d8d4db;
  font-weight: 600;
}

.msg-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10rem;
  font-size: 1.1rem;
}

.basic-icon-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.font-icon-md {
  height: 1.8rem;
  width: 1.8rem;
  font-size: 1.8rem;
}

.no-text {
  font-size: 3rem;
  color: #83d8d4db;
  font-weight: 600;
  margin: 0;
}

.no-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  flex-direction: column;
}

.profile-head {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid #b0b0b0;
}

.size-3 {
  font-size: 2.5rem !important;
  padding: 1rem 2rem;
  margin: auto;
}

.profile-name {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 800;
  line-height: 1.2;
}

.profile-email {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(158, 154, 154);
  margin: 0;
  margin-top: 1rem;
  line-height: 1.2;
}

.profile-inner {
  max-width: 35rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.profile-input {
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid gray;
  font-size: 1.2rem;
}

.close-btn {
  cursor: pointer;
  background-color: #d54f45;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: 2px 4px 10px gray;
  color: white;
  font-size: 1.1rem;
}

.close-btn:hover {
  background-color: #c54138;
}

.create-btn {
  cursor: pointer;
  background-color: #3072B8;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: 2px 4px 10px gray;
  color: white;
  font-size: 1.1rem;
}

.create-btn:hover {
  background-color: #245d99;
}

.ml-1 {
  margin-left: 1rem;
}


.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userlist-container-overflow {
  margin-top: 1rem;
}

.no-results-available {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.m-0 {
  margin: 0;
}

.warn-text {
  font-size: 0.9rem;
  color: rgb(227, 155, 61);
}

.outer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.individual-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.username {
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: white;
  border-radius: 4rem;
  background-color: #d54f45;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 0.1rem;
  cursor: pointer;
}

.star-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: white;
  border-radius: 4rem;
  background-color: #22b64c;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 0.1rem;
}

.delete-icon:hover {
  background-color: #c54138;
}

.user-pic {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 10rem;
  border: 2px solid gray;
}

.inner-div {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  margin: 0;
}

.user-email {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(158, 154, 154);
  margin: 0;
}

.chat-info {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
}

.chat-info:hover {
  background-color: #e2eef9;
}

.bg-blue {
  background-color: #e2eef9;
}

.load-more-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #FFFFFF;
  background-color: #41a1bb;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #3692ab;
}

.load-more-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.input {
  min-width: 25rem;
  padding: 0.8rem 1rem;
  border: 1px solid gray;
  outline: none;
  border-radius: 10rem;
  font-size: 1rem;
}

.outer-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.add-user-card {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  background-color: #F0F8FF;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.flex-1{
  flex: 1;
}

.add-icon {
  background: transparent;
  border: none;
}

.message-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow: auto;
  padding: 1rem;
}

.message-container::-webkit-scrollbar {
  display: none;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.message-content {
  background-color: #F0F8FF;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 50%;
  word-wrap: break-word;
}

.relative {
  position: relative;
}

.message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sender-name {
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 13rem;
}

#loadMore {
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .back-button {
    display: block;
  }
}