<div class="main-container" *ngIf="selectedChat; else no_chat">
  <div>
    <div class="head-div">
      <button class="basic-icon-button back-button" type="button" mat-button (click)="toggleSideNav()"><mat-icon class="font-icon-md">arrow_back</mat-icon></button>
      <div class="outer-head">
        <div class="head">
          <img class="chat-img" src="{{ selectedChat.groupImg }}" alt="chat-img">
          <p class="chat-name">{{ getChatName() }}</p>
        </div>
        <div>
          <button class="basic-icon-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="font-icon-md">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!selectedChat.isGroupChat" (click)="openParticipantProfile(show_profile)"> <!-- when chat is individual chat -->
              <mat-icon>info</mat-icon>
              <span>Details</span>
            </button>
            <button mat-menu-item *ngIf="selectedChat.isGroupChat" (click)="openParticipantProfile(show_group_details)"> <!-- when chat is group chat -->
              <mat-icon>info</mat-icon>
              <span>Group Details</span>
            </button>
            <button mat-menu-item *ngIf="selectedChat.isGroupChat" (click)="openDialog(add_or_remove_participants)"> <!-- when chat is group chat -->
              <mat-icon>group</mat-icon>
              <span>{{ selectedChat.groupAdmin._id===user?._id ? 'Add/Remove Participants' : 'Participants' }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="message-body">
    <div class="message-container" *ngIf="messages && messages.length>0; else no_message">
      <div class="relative" *ngFor="let message of messages; let i=index">
        <button #loadMore id="loadMore" *ngIf="i===messages.length-1 && !noMoreMessageFound" (click)="increaseMessagePageNo()">load</button>
        <div class="message-content" [ngClass]="{'right-align': message.sender._id===user?._id,  'left-align' : message.sender._id!==user?._id }">
          <div class="message-info">
            <div class="sender-details">
              <img class="sender-pic" src="{{ user?.profileImg }}">
              <p class="sender-name">{{ message.sender.name }}</p>
            </div>
            <p class="m-0 font-sm">{{ message && currentDate <= getInMilli(message.createdAt) ? (message.createdAt | date:'hh:mm a') : (message?.createdAt | date:'dd MMM') }}</p>
          </div>
          <p class="msg-content">{{ message.content }}</p>
        </div>
      </div>
    </div>
    <ng-template #no_message>
      <p class="lg-text">Start the conversation... 💫</p>
    </ng-template>
  </div>

  <div>
    <form class="bottom-div" (onsubmit)="sendMessage($event)">
      <input class="msg-input" type="text" name="newMessage" id="newMessage" [(ngModel)]="newMessage" placeholder="Type your message...">
      <button class="basic-icon-button send-icon" type="submit" (click)="sendMessage($event)"><mat-icon class="send">send</mat-icon></button>
    </form>
  </div>
</div>

<ng-template #no_chat>
  <div class="no-text-container">
    <p class="no-text">Welcome Back!! 🥳</p>
    <p class="no-text">Select a Chat... 🗨️</p>
  </div>
</ng-template>

<ng-template #show_profile>
  <h2 mat-dialog-title class="size-3">User Profile</h2>
  <mat-dialog-content>
    <div class="profile-head">
      <img class="profile-img" src="{{ individualChatUser?.profileImg }}" alt="profile-img">
      <div class="profile-inner">
        <p class="profile-name ellipsis">{{ individualChatUser?.name }}</p>
        <p class="profile-email ellipsis">{{ individualChatUser?.email }}</p>
        <p class="profile-email ellipsis">Since {{ individualChatUser?.createdAt | date:'dd-MMM-yyyy' }}</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="close-btn" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #show_group_details>
  <h2 mat-dialog-title class="size-3">Group Details</h2>
  <mat-dialog-content>
    <div class="profile-head">
      <img class="profile-img" src="{{ selectedChat?.groupImg }}" alt="profile-img">
      <div class="profile-inner">
        <p class="profile-name ellipsis" *ngIf="!groupDetailsEdit">{{ selectedChat?.chatName }}</p>
        <input class="profile-input" *ngIf="groupDetailsEdit" [(ngModel)]="newGroupName">
        <p class="profile-email ellipsis">Since {{ selectedChat?.createdAt | date:'dd-MMM-yyyy' }}</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="create-btn" mat-button *ngIf="!groupDetailsEdit &&  selectedChat?.groupAdmin?._id===user?._id" (click)="editGroupDetails()">Edit</button>
    <button class="create-btn" mat-button *ngIf="groupDetailsEdit &&  selectedChat?.groupAdmin?._id===user?._id" (click)="updateGroup()">Update</button>
    <button class="close-btn ml-1" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #add_or_remove_participants>
  <h2 mat-dialog-title>{{ selectedChat?.groupAdmin?._id===user?._id ? 'Add/Remove Participants' : 'Participants' }}</h2>
  <mat-dialog-content>
    <div class="flex-column">
      <div>
        <h4 class="m-0">Participants:</h4>
        <div class="outer-list">
          <div class="individual-user" *ngFor="let userObj of selectedChat?.participants">
            <mat-icon class="delete-icon" *ngIf="user?._id==selectedChat?.groupAdmin?._id && userObj._id!==selectedChat?.groupAdmin?._id" (click)="removeParticipant(userObj)" title="remove participant">close</mat-icon>
            <mat-icon class="star-icon" *ngIf="userObj._id===selectedChat?.groupAdmin?._id" title="Group Admin">star</mat-icon>
            <img class="user-pic" src="{{ user?.profileImg }}">
            <span class="username pointer" (click)="openParticipantProfileFromGroupChat(show_profile, userObj)" title="user details">{{ userObj?.name }}</span>
          </div>
        </div>
        <!-- <p class="m-0 warn-text" *ngIf="newGroupParticipants && newGroupParticipants.length<2">Please select atleast 2 participants.</p> -->
      </div>
    </div>
    <div class="userlist-container-overflow" *ngIf="user?._id==selectedChat?.groupAdmin?._id">
      <hr>
      <h4>Add Participants:</h4>
      <input class="input" type="text" placeholder="Search..." [(ngModel)]="searchKey" (input)="onSearchKeyChange()">
      <div *ngIf="searchResults && searchResults.length>0; else no_results">
        <div class="add-user-card" *ngFor="let user of searchResults">
          <div class="outer-div flex-1" title="Click to add participants">
            <img class="user-pic" src="{{ user?.profileImg }}">
            <div class="innner-div">
              <p class="user-name">{{ user?.name }}</p>
              <p class="user-email">{{ user?.email }}</p>
            </div>
          </div>
          <button class="pointer add-icon" (click)="addParticipant(user)" title="add participant"><mat-icon>add</mat-icon></button>      
        </div>
        <div class="load-more-btn-container" *ngIf="!noMoreResultsFound">
          <button class="load-more-btn" (click)="loadMoreSearchResults()">Load more</button>
        </div>
      </div>
      <ng-template #no_results>
        <p class="no-results-available">No results available.</p>
      </ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="close-btn ml-1" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>